@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap'); /*font-family: 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap'); /*font-family: 'Noto Sans Display', sans-serif;*/
.navbar {
    background-color: #181a1f;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}
.navbar_links li {
    list-style: none;
    margin: 0.1rem;
}
.navbar_links li a {
    padding: .8rem;
    display: block;
    list-style: none;
    background-color: #1f5258;
    border-radius: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans Display', sans-serif;
}
.navbar_links li a:hover {
    background-color: #16393d;
    transition: all .5s;
}
.navbar_links div {
    padding: 0.6rem;
    border: 1px solid white;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
}
.navbar_links div:hover {
    background-color: #08090a;
    transition: all 0.4s;
    cursor: pointer;
}
.navbar_logo {
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.navbar_logo p a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Dosis', sans-serif;
}
.navbar_logo div {
    padding-right: 0.8rem;
}
